@import url(_mediaQueries.scss);
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Fjalla One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Yellowtail", cursive;
  font-family: "Nunito", sans-serif;
}

.logo {
  width: 93px;
  border-radius: 18px;
  transition: height 1s, widht 1s;
  animation-name: fadeInDown;
  animation-duration: 4s;
  animation-delay: 500ms;
  animation-timing-function: ease-out;
}

header {
  background: linear-gradient(rgba(15, 15, 15, 0.75), rgba(15, 15, 15, 0.75));
  flex-wrap: wrap;
  position: sticky;
  top: 0%;
  font-family: Helvetica Neue, sans-serif;
}

.navbar-expand .navbar-collapse {
  flex-grow: inherit;
}

.navbar-expand .navbar-nav .nav-link {
  color: #adaaaa;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  background-color: #000000;
}

.navbar-nav .nav-link.active:hover {
  color: #fffefe;
  margin: 0px 5px;
  font-size: 21px;
  text-decoration: none;
  background-color: #0f0e0e;
  transition: width 4px, height 4px, 1s;
}

.me-2 {
  cursor: default;
  margin-left: 20px;
  background: transparent;
}

.btn-outline-success {
  background-color: #000000;
  color: #adaaaa;
  border-color: #000000;
}

.btn:hover {
  background-color: #0f0e0e;
  color: white;
  border-color: #000000;
  text-decoration: none;
}

.paralax-index {
  min-height: 100vh;
  background: linear-gradient(rgba(20, 19, 19, 0.55), rgba(30, 29, 29, 0.55)), url(../assets/fondo.jfif) no-repeat center center fixed;
  background-size: cover;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 60vh;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom: 38px;
  color: rgb(248, 237, 156);
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
h1:hover {
  color: rgb(253, 238, 125);
}

.p_index {
  width: 100%;
  color: rgb(248, 237, 156);
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 160px;
  padding-top: 65px;
}

.animacionH1 {
  transition: height 1s, widht 1s;
  animation-name: fadeInDown;
  animation-duration: 4s;
  animation-delay: 280ms;
  animation-timing-function: ease-out;
}

.titulo-predeterminado{
  display: flex;
  justify-content: center;
  margin: 40px;
  margin-bottom: 85px;
  letter-spacing: 15px;
  font-weight: bold;
  font-family: inherit;
  font-size: 45px;
  font-variant: all-small-caps;
  color: white;
  background-color: #ededed12;
}

.card{
  background-color: #000000;
  margin: 5px;
}
.card-header-index {
  color: white;
  font-size: xx-large;
  text-align: center;
}
.card-flex{
  display: flex;
  justify-content: center;
  height: 190px;
  width: 100%;
}

.card-text:last-child {
  margin-inline: 5px;
  margin-bottom: 0;
  color: wheat;
}
.card-body-index {
  padding: 34px;
  text-align: center;
}

.texto-index{
  width: 100%;
  color: rgb(248, 237, 156);
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 120px;
  margin-bottom: 100px;
}


.contenedor-youtube {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.youtube1, .youtube8, .youtube7, .youtube6, .youtube5, .youtube4, .youtube3, .youtube2 {
  transition: all 400ms ease;
  height: 315px;
  border-radius: 30px;
  margin-top: 20px;
  gap: 20px;
}

.youtube1:hover, .youtube2:hover, .youtube3:hover, .youtube4:hover, .youtube5:hover, .youtube6:hover, .youtube7:hover, .youtube8:hover {
  transform: translateY(-3%);
}

.youtube2:hover {
  transform: translateY(-3%);
}

.youtube3:hover {
  transform: translateY(-3%);
}

.youtube4:hover {
  transform: translateY(-3%);
}

.youtube5:hover {
  transform: translateY(-3%);
}

.youtube6:hover {
  transform: translateY(-3%);
}

.youtube7:hover {
  transform: translateY(-3%);
}

.youtube8:hover {
  transform: translateY(-3%);
}

iframe {
  border-radius: 22px;
  height: 225px;
  margin-top: 180px;

}

.estilo-p-index {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 360px;
  cursor: default;
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 300;
}

.container-button-beat{
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.boton-comprar-beat{
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.boton-comprar-beat:hover {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

.titulo2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 9.1rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #00000038;
  color: white;
}

h2 {
  font-family: Helvetica Neue, sans-serif;
  font-size: 38px;
  letter-spacing: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 38px;
  cursor: default;
  color: rgb(241, 241, 255);
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
h2:hover {
  color: rgb(217, 217, 223);
}

.container-grid-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-inline: 40px;
  grid-row-gap: 0.1em;
  cursor: default;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: -30px;
}

.col1 {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  font: bold;
  background-color: #00000038;
  color: white;
}

.col3 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  font: bold;
  background-color: #00000038;
  color: white;
}

.coll {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #00000038;
}

.row3{
  background-color: #ededed12;
  margin: 140px;
}
.stretched{
  text-decoration: none;
  color: rgb(105, 102, 102);
}
.stretched-link:hover{
  color: rgb(255, 255, 255);
}

.titulo3 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20.1rem;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.descarga {
  background-color: #f34a4a;
  margin-left: -90px;
}

.descarga:hover {
  background-color: rgba(5, 150, 253, 0.2117647059);
}

.reproductor {
  width: 300px;
  height: 15px;
}

.reproductor audio {
  margin-left: 30px;
  width: 250px;
  height: 25px;
}

footer {
  width: 100%;
  padding: 50px 0px;
  background: linear-gradient(rgba(15, 15, 15, 0.75), rgba(15, 15, 15, 0.75));
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box__footer h3 {
  margin-bottom: 30px;
  color: #c9c9c9;
  font-weight: 700;
  cursor: default;
}
.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #999999;
  font-size: 18px;
  cursor: default;
}
.box__footer .logo img {
  width: 100px;
  border-radius: 18%;
}

.box__footer a {
  margin-top: 10px;
  color: #999999;
  font-weight: 600;
  text-decoration: none;
  transition: all 200ms;
  cursor: default;
}

.box__footer a:hover {
  color: aliceblue;
  text-decoration: underline;
  background-color: rgb(243, 113, 113);
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  cursor: default;
}

.box__copyright p {
  margin-top: 20px;
  color: #999999;
  transition: all 200ms;
  cursor: default;
}

.box__copyright p:hover {
  text-decoration: underline;
  color: #ffffff;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

i {
  font-size: 1.2rem;
  padding: 1rem;
  padding: 0.3rem;
}

a {
  color: #01050a;
}

/*daw*/
.paralax-daw {
  min-height: 100vh;
  background: linear-gradient(rgba(78, 77, 77, 0.4), rgba(15, 15, 15, 0.81)), url(../assets/fondo-daw.jpg) no-repeat center center fixed;
  background-size: cover;
}

.titulo-h6 {
  height: 33vh;
}

h6 {
  color: rgb(248, 237, 156);
  text-align: center;
  font-size: 39px;
  letter-spacing: 8px;
}

h6 {
  margin-top: 435px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}


.estilo-p-daw {
  margin-top: -70px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 270px;
  cursor: default;
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  margin-bottom: 215px;
}

.img-ableton {
  height: 325px;
  margin-top: 100px;
}

.img-cubase {
  height: 325px;
  margin-top: 100px;
}

.img-flstudio {
  height: 325px;
  margin-top: 100px;
}

.img-protools {
  height: 325px;
  margin-top: 100px;
}

.img-logic {
  height: 325px;
  margin-top: 100px;
}

.img-studio {
  height: 325px;
  margin-top: 100px;
}

.container-daw {
  margin-top: 500px;
}


.estilo-p-daw p {
  width: 80%;
}

.estilo-p-ableton {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-ableton p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-ableton:hover {
  background-color: #897a7a3b;
}

.estilo-p-cubase {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-cubase p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-cubase:hover {
  background-color: #897a7a3b;
}

.estilo-p-fl {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-fl p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-fl:hover {
  background-color: #897a7a3b;
}

.estilo-p-protools {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-protools p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-protools:hover {
  background-color: #897a7a3b;
}

.estilo-p-logic {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-logic p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-logic:hover {
  background-color: #897a7a3b;
}

.estilo-p-studio {
  text-align: center;
  margin-bottom: 38px;
  cursor: default;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.estilo-p-studio p {
  width: 100%;
  color: white;
  font-weight: bold;
}

.estilo-p-studio:hover {
  background-color: #897a7a3b;
}

.container-daw {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.daw1 {
  margin-bottom: 20px;
  width: 345px;
}

.daw1 img {
  width: 340px;
  height: 240px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.descarga-daw {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-left: 345px;
}

.container-button-daw {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.boton-compra {
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.boton-prueba {
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.boton-compra:hover {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

.boton-prueba:hover {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

#id {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 19px 20px;
  border: 1pxsolidvar --white;
  color: var(--white);
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: var(--text-button);
  line-height: 20px;
  letter-spacing: 0.75px;
  display: flex;
  align-items: center;
}

.descarga-daw i {
  text-align: center;
}

/*artistas*/
.paralax-artistas {
  min-height: 100vh;
  background: linear-gradient(rgba(78, 77, 77, 0.4), rgba(15, 15, 15, 0.75)), url(../assets/fondo-artistas.jpg) no-repeat center center fixed;
  background-size: cover;
}


.titulo-predeterminado-artistas2{
  display: flex;
  justify-content: center;
  margin-bottom: 214px;
  letter-spacing: 15px;
  font-weight: bold;
  font-family: inherit;
  font-size: 45px;
  font-variant: all-small-caps;
  color: white;
  background-color: #ededed12;
}
.titulo4 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 19.1rem;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.contenedor-tips{
  display: flex;
  justify-content: center;
}
.card-artistas{
  color: wheat;
  background-color: black;
  margin: 20px;

}
.card-img-top-artistas {
  width: 100%;
}
.card-title-artistas{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}
.card-text-artistas{
  padding: 5px;
  text-align: center;
}
.btn_artistas{
  display: flex;
  justify-content: center;
  color: rgb(205 198 198);
  background-color: rgb(26 21 21);
  text-decoration: none;
}
.btn_artistas:hover{
color: white;
background-color: rgb(49, 41, 41);
}

.titulo-predeterminado-artistas3{
  display: flex;
  justify-content: center;
  margin: 235px;
  margin-bottom: 20px;
  letter-spacing: 15px;
  font-weight: bold;
  font-family: inherit;
  font-size: 45px;
  font-variant: all-small-caps;
  color: white;
  background-color: #ededed12;
}
.container-grid-table-artistas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  margin-inline: 40px;
  grid-row-gap: 0.1em;
  cursor: default;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: -48px;
}

.container-grid-table-artistas .col1 {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  font: bold;
  background-color: #665e5f;
  color: white;
  cursor: default;
}

.container-grid-table-artistas .col {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: rgb(224, 215, 215);
  color: black;
  cursor: default;
}


.container-grid-table-artistas-mundo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-inline: 40px;
  grid-row-gap: 0.1em;
  cursor: default;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.container-grid-table-artistas-mundo .col1 {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  font: bold;
  background-color: #665e5f;
  color: white;
  cursor: default;
}

.container-grid-table-artistas-mundo .col {
  display: flex;
  justify-content: center;
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: rgb(224, 215, 215);
  color: black;
  cursor: default;
}


/*Cursos*/
.paralax-cursos {
  min-height: 100vh;
  background: linear-gradient(rgba(78, 77, 77, 0.4), rgba(15, 15, 15, 0.75)), url(../assets/fondo-cursos.jpg) no-repeat center center fixed;
  background-size: cover;
}

.grid-canal-youtube {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 40px;
}


.col {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #00000038;
}
.card2 {
  background-color: #000000;
  margin: 10px;
  height: 133%;
  text-align: center;
}

.card-img-top {
  width: 75%;
  margin: 10px;
  background-color: transparent;
}
.card-header-cursos {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin: 9px;
}
.card-body-cursos{
  width: 270px;
  text-align: center;
}

.card-text-cursos{
  color: wheat;
  text-align: center;
}

.card-text-cursos2{
  color: wheat;
  text-align: center;
}

.titulo5{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 19.1rem;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.row2{
  width: 25%;
    display: flex;
}

.card-cursos2{
  background-color: black;
}



/*contactos*/
.paralax-contactos {
  min-height: 100vh;
  background: linear-gradient(rgba(78, 77, 77, 0.4), rgba(15, 15, 15, 0.75)), url(../assets/fondo-contactos.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container__formulario {
  display: flex;
}

fieldset {
  padding: 100px;
  width: 415px;
  background-color: #00000000;
}

legend {
  color: white;
}

label input {
  display: flex;
  justify-content: center;
}

input[type=checkbox i] {
  display: flex;
  justify-content: center;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  color: #000000;
}

h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  color: white;
}

h5 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
}

.ubicacion {
  display: flex;
  justify-content: center;
  height: 322px;
  background: linear-gradient(rgba(15, 15, 15, 0), rgba(15, 15, 15, 0));
}

.ubicacion iframe{
  width: 100%;
}

@media only screen and (max-width: 576px) {
  /*INDEX*/
  header {
    width: 120%;
  }
  .navbar-expand {
    width: 100%;
  }
  .logo {
    width: 54%;
    margin-left: -10px;
  }
  .navbar-expand .navbar-nav {
    width: 60%;
  }
  .li {
    width: 66px;
  }
  .nav-item {
    width: 125px;
  }
  .container-fluid {
    flex-direction: column;
  }
  .contenedor_buscador {
    margin-top: -18px;
    width: 10%;
  }
  .navbar-expand .navbar-collapse {
    width: 85%;
  }
  .form-control .me-2 {
    width: 50%;
  }
  .contenedor_buscador {
    margin-top: 100px;
  }
  .me-2 {
    width: 190px;
    margin-left: -475px;
    margin-top: 185px;
  }
  .btn {
    width: 190px;
    margin-top: 185px;
  }
  .titulo {
    width: 110%;
  }

  .p_index {
    padding: 6%;
    font-size: 15px;
  }

  .titulo-predeterminado{
    text-align: center;
  }
  .card-flex {
    height: 190px;
    width: 568px;
}
.card-header-index {
  font-size: 13px;
}
.card-body-index {
  width: 130px;
  text-align: center;
  padding: 15px;
}
.card-text:last-child {
  margin-inline: 0px;
}
.texto-index{
  padding: 10%;
  font-size: 17px;
  margin-top: 110px;
}
.titulo2 {
  padding: 4%;
  text-align: center;
}


  .contenedor-youtube {
    grid-template-columns: inherit;
  }
  .container-grid-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: flex-start;
    margin-inline: 28px;
    margin-bottom: 170px;
    cursor: default;
    font-size: 20px;
    height: 1px;
  }
  .col {
    font-weight: bold;
  }
  .col1 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
    background-color: rgb(6 5 5);
    margin: -30px;
    margin-inline: 6px;
}
  .reproductor {
    width: 153px;
  }
  .reproductor audio {
    margin-left: 3px;
    width: 147px;
    height: 15px;
    margin-bottom: 18px;
  }
  .descarga {
    background-color: #f34a4a;
    margin-left: 9px;
    width: 40%;
  }




  /*DAW*/
  .container-daw {
    grid-template-columns: inherit;
  }







  /*ARTISTAS*/
  h1 {
    font-size: 35px;
    letter-spacing: 12px;
  }

  .titulo-predeterminado-artistas2 {
  margin-bottom: 205px;
  text-align: center;
  margin: 70px;
}
  .card-body-artistas {
  width: 157px;
  text-align: center;
}
  .card-title-artistas {
  text-align: center;
  font-size: 19px;
}

.card-artistas {
  margin: 17px;
}
.titulo-predeterminado-artistas3 {
  background-color: transparent;
}

.titulo4{
  padding: 5%;
  margin-top: 15.1rem;
}

  .container-grid-table-artistas {
    display: grid;
    justify-items: center;
    cursor: default;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-bottom: -48px;
}
.container-grid-table-artistas .col1 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-align: center;
  font: bold;
  background-color: #484545;
  height: 38%;
  margin: 0;
}
.container-grid-table-artistas .col {
  width: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: rgb(224, 215, 215);
  color: black;
  cursor: default;
  height: 100%;
}

  /*CURSOS*/
  .grid-canal-youtube {
    grid-template-columns: inherit;
  }

  .card-flex {
    height: 174px; 
}
.card2 {
  background-color: #000000;
  margin: 1px;
  height: 184%;
  text-align: center;
}
  .card-body-cursos {
    width: 140px;
    text-align: center;
}

.card-header-cursos {
  color: white;
  text-align: center;
  font-size: 19px;
}
.card-text-cursos{
  background-color: #000000;
}



.card-cursos2 {
  background-color: #000000;
  width: 138px;
  
}

.card-header-cursos2 {
  color: white;
  text-align: center;
  font-size: 19px;
}
.card-text-cursos2{
  background-color: #000000;
}

.card-body-cursos2 {
  margin-top: 65px;
}
.card-title-cursos2 {
  font-size: 15px;
  margin-bottom: 40px;
}

.card-title-cursos2{
font-size: 17px;
}
}

/*# sourceMappingURL=estilos.css.map */
